<button [routerLink]="['../customers']" class="btn btn-link">
  <clr-icon  shape="circle-arrow left" title="Back" style="width: 36px; height: 36px;"></clr-icon>
</button>
<clr-tabs>
  <clr-tab>
    <button clrTabLink>Change status</button>
    <clr-tab-content *clrIfActive>
      <h3 id="edit-status">Edit status</h3>
      <p id="changedStatus">{{contract?.status}}</p>
      <div class="col-md-6">
        <form #todoForm="ngForm">
          <label for="selects_2">Select new status: </label>
          <p></p>
          <div class="select">
            <select id="selects_2" #selectStatus (change)="statusSelected(selectStatus.value)">
              <option value="">Select status</option>
              <option [value]="'AVAILABLE'">Available</option>
              <option [value]="'BLOCKED_BY_AN_EMPLOYEE'">Deactivated</option>
            </select>
          </div>
          <p></p>
          <button type="button" class="btn btn-outline" (click)="onSubmit(); todoForm.reset()"
                  [disabled]="todoForm.form.invalid">Change status
          </button>
        </form>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Change tariff</button>
    <clr-tab-content *clrIfActive>
      <div class="row">
        <div class="col-md-5">
          <form #todoForm1="ngForm">
            <label for="selects_3">Select new tariff: </label>
            <p></p>
            <div class="select">
              <select id="selects_3" #selectRate (change)="rateSelected(selectRate.value)">
                <option value="">Select tariff</option>
                <option *ngFor="let rate of rates" [value]="rate?.id">{{rate?.name}}</option>
              </select>
            </div>
            <button type="button" class="btn btn-outline" (click)="onSubmit(); todoForm1.reset()"
                    [disabled]="todoForm1.form.invalid">Change tariff
            </button>
          </form>
          <div class="row">
            <p class="col-md-12">Cost: {{selectedTariff?.cost}}<clr-icon shape="dollar"></clr-icon></p>
          </div>
          <div class="row">
            <p class="col-md-3" >SMS: {{selectedTariff?.sms}}</p> <p class="col-md-5"> Mobile Internet: {{selectedTariff?.internet}}
            Gb </p>
           <p class="col-md-4"> Minutes: {{selectedTariff?.calls}}</p>
          </div>
          <ul class="list-group list-group-flush option-rate-list">
            <li class="list-group-item" *ngFor="let option of selectedTariff?.optionList">
              {{option?.name}}
            </li>
          </ul>
        </div>
        <div class="col-md-5 right-rate" >
          <p id="changedRate">{{contract?.rate?.name}}</p>
          <div class="row">
          <p class="col-md-12">Cost: {{contract?.rate?.cost}}<clr-icon shape="dollar"></clr-icon></p>
          </div>
          <div class="row">
            <p class="col-md-3">SMS: {{contract?.rate?.sms}}</p>
            <p class="col-md-5"> Mobile Internet: {{contract?.rate?.internet}}Gb </p>
            <p class="col-md-4"> Minutes: {{contract?.rate?.calls}}</p>
          </div>
          <p>Tariff options:</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let option of contract?.rate?.optionList">
              {{option?.name}}
            </li>
          </ul>
        </div>
      </div>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Change options</button>
    <clr-tab-content *clrIfActive>
      <contract-options></contract-options>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>
