<nav class="navbar navbar-default head" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="a3">{{user?.firstName}} {{user?.lastName}}</li>
      </ul>
    </div>
  </div>
</nav>
<body>
<div class="row">
  <div class="btn-group-vertical button-group col-md-4">
    <div class="btn-group" *ngFor="let button of buttons">
      <input type="submit" id="contactButton" class="btn btn-info button-one button-one1"
             ngClass="{'active': button.isActive}" value="{{button.name}}" (click)="openTab(button.path)">
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
</body>
