<nav class="navbar navbar-default head" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" id="a1">Tariffs</a></li>
        <li><a href="#" id="a2">Options</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="a3">Пупкин Василий</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row">
  <h1>Number: {{user.number}}</h1>
  <h4>Rate: {{user.rate.cost}} , {{user.rate.name}}</h4>
  <h2>Options:</h2>
  <div *ngFor="let option of user.optionList">
    <p>{{option.description}}</p>
  </div>
</div>
