<div class="back col-md-9">
  <h3>Contract options:</h3>
  <form #todoForm="ngForm">
    <div *ngIf="contract?.optionList && contract?.rate?.optionList">
    <option-list class="col-md-9" [optionList]="contract?.optionList"
                 [rateOptions]="contract?.rate?.optionList" [showSelect]="true"></option-list>
    </div>
    <button type="button" class="btn btn-outline" (click)="onSubmit(); todoForm.reset()"
            [disabled]="todoForm.form.invalid">Change options</button>
  </form>
</div>
