<div class="col-md-9">
  <button [routerLink]="['../options']" class="btn btn-link">
    <clr-icon shape="circle-arrow left" title="Back" style="width: 36px; height: 36px;"></clr-icon>
  </button>
  <p></p>
  <label for="selects_3">Select type: </label>
  <div class="select">
    <select id="selects_3" [(ngModel)]="selectedRule" (change)="optionSelected(null)">
      <option [ngValue]="false">Incompatible</option>
      <option [ngValue]="true">Compatible</option>
    </select>
  </div>
  <p></p>
  <label>Select option: </label>
  <div class="row">
    <div class="col-md-4">
      <div class="select">
        <select #selectOpt (change)="optionSelected(selectOpt.value)">
          <option value="">Select option</option>
          <option *ngFor="let option of options" [value]="option?.id">{{option?.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="select">
        <select [(ngModel)]="selectPurpose" #selectPurp (change)="purposeOptionSelected(selectPurp.value)">
          <option [value]="0">Select option</option>
          <option *ngFor="let option of optionsForSelection" [value]="option?.id">{{option?.name}}</option>
        </select>
      </div>
    </div>
    <button type="button" title="Add" class="btn btn-icon butt-right" (click)="addToPurposeList()">
      <clr-icon shape="plus"></clr-icon>
    </button>
  </div>
  <div class="row" id="purpList">
      <span class="label options" *ngFor="let option of purposeList"><clr-checkbox
        [(ngModel)]="option.selected">
                    {{option?.name}}
                </clr-checkbox></span>
  </div>
  <button type="button" title="Add rules" class="btn btn-icon" (click)="addRule()">
    <clr-icon shape="plus"></clr-icon>
    <clr-icon shape="ruler-pencil"></clr-icon>
  </button>
</div>
