.back {
    margin-left: 50px;
}

.delete-button {
    background-image: url(../img/del.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

#back {
    width: 100px;
    margin-bottom: 10px;
}

#contractPanel {
    margin-top: 20px;
}