p {
    color: #95989A;
}

#labelH2 {
    font-size: 25px;
    text-align: center;
    margin-top: 94px;
    color: #95989A;
}
.form {
    width: 600px;
    height: 350px;
    background-color: #E4FFF6;
    margin: 20 auto;
    border: solid #95989A 1px;
}
#formUP {
    margin: 60px;
}
#passwordCol {
        margin-top: 30px;
}

.UP {
    margin-top: 40px;
    margin-right: 150px;
    margin-left: 150px;    
}
.sign-in {
    margin-top: 20px;
    width: -webkit-fill-available;
    height: 60px;
    background-color: #13BFB9;
}

.input-UP {
    height: 50px;
}

#forgotPass {
    margin-left: 130px;
}

#signIN {
    color: #FFFFFF;
    font-size: larger;
    text-align: center;
    margin-top: 10px;
}

.sign-in:hover {
  background-color: #11AFAA;
}

#miniForm {
    height: 52px;
    text-align: center;
    color: #95989A;
}

#signUp {
    margin-top: 15;
}

#signUP {
    margin-top: 10px;
}

#signUpForm {
    height: 400px;
}

#signUpFH {
    margin-top: 10px;
}

.button-one.focus, .button-one:focus {
    color: #fff;
    background-color: #13BFB9;
    border-color: #13BFB9;
    outline: 0;
}

.button-one:hover {
    color: #fff;
    background-color: #13BFB9;
    border-color: #13BFB9
}

.button-one:active {
    color: #fff;
    background-color: #13BFB9;
    border-color: #13BFB9
}

.button-one.active, button-one:active, .open > .dropdown-toggle.button-one {
    color: #fff;
    background-color: #13BFB9;
    border-color: #13BFB9
}

.button-one.active.focus, .button-one.active:focus, .button-one.active:hover, .button-one:active.focus, .button-one:active:focus, .button-one:active:hover, .open > .dropdown-toggle.button-one.focus, .open > .dropdown-toggle.button-one:focus, .open > .dropdown-toggle.btn-info:hover {
    color: #fff;
    background-color: #13BFB9;
    border-color: #13BFB9
}

.button-one.active, .button-one:active, .open > .dropdown-toggle.button-one {
    background-image: none
}

.button-one.disabled.focus, .button-one.disabled:focus, .button-one.disabled:hover, .button-one[disabled].focus, .button-one[disabled]:focus, .button-one[disabled]:hover, fieldset[disabled] .button-one.focus, fieldset[disabled] .button-one:focus, fieldset[disabled] .button-one:hover {
    background-color: #13BFB9;
    border-color: #13BFB9
}

.button-one .badge {
    color: #13BFB9;
    background-color: #fff
}