<div class="back col-md-9">
  <div class="row add-contract-and-search">
    <input type="submit" class="btn btn-info button-one button-act col-md-2" value="Add tariff"
           (click)="openTab('/employee/tariff-form')">
    <!--<div class="input-group col-md-6 search-inp">-->
      <!--<input type="text" class="form-control" placeholder="Search...">-->
      <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button">Go!</button>-->
          <!--</span>-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
  </div>
  <clr-stack-view>
    <clr-stack-header>All tariffs</clr-stack-header>

    <clr-stack-block *ngFor="let rate of rates">
      <clr-stack-label>{{rate?.name}}</clr-stack-label>
      <clr-stack-content><button class="btn btn-info button-one button-act col-md-2 button-number"
                                 (click)="change(rate?.id, '/employee/tariff-info')">
        Change
      </button></clr-stack-content>
    </clr-stack-block>
  </clr-stack-view>
</div>
