<div class="col-md-9">
  <button type="button" title="Add tariff" class="btn btn-icon" (click)="addRate()">
    <clr-icon shape="plus"></clr-icon>
    <clr-icon shape="tags"></clr-icon>
  </button>
  <clr-stack-view class="userList">
    <clr-stack-header>All tariffs</clr-stack-header>

    <clr-stack-block *ngFor="let rate of rates">
      <clr-stack-label class="customers">{{rate?.name}}</clr-stack-label>
      <clr-stack-content>Cost: {{rate?.cost}}<clr-icon shape="dollar"></clr-icon></clr-stack-content>
      <clr-stack-content>
        <button type="button" title="Change tariff" class="btn btn-icon butt-right" (click)="change(rate?.id, '/employee/tariff-info')">
          <clr-icon shape="pencil"></clr-icon>
        </button>
        <button type="button" title="Delete tariff" class="btn btn-icon butt-right" (click)="deleteRate(rate?.id)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </clr-stack-content>
    </clr-stack-block>
  </clr-stack-view>
</div>
<tariff-form (onChanged)="init()"></tariff-form>
