<p>Options: </p>
<div class="row">
  <div *ngFor="let option of purposeList">
  <span class="label" [ngClass]="isOptionInWarningsList(option)">
    <clr-checkbox
      [(ngModel)]="option.selected" (change)="changeSelected()">
                    {{option?.name}}
                </clr-checkbox>
  </span>
  </div>
  <!--<div *ngFor="let warning of warnings">-->
    <!--<p class="warn">{{warning?.description}}</p>-->
  <!--</div>-->
  <clr-tooltip *ngIf="warnings.length !== 0">
    <clr-icon clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
      <span *ngFor="let warning of warnings">{{warning?.description}}</span>
      {{warning?.description }}
    </clr-tooltip-content>
  </clr-tooltip>
</div>
<div class="select">
  <select id="selects_3" [(ngModel)]="selectedOption">
    <option *ngFor="let option of anotherOptions" [ngValue]="option">{{option?.name}}</option>
  </select>
</div>
<button type="button" title="Add option" class="btn btn-icon" (click)="addOption()">
  <clr-icon shape="plus"></clr-icon>
  <clr-icon shape="view-cards"></clr-icon>
</button>
