<div class="row addOption">
  <div class="col-md-4" >
    <select class="form-control col-md-4" [(ngModel)]="selectedOption">
      <option value="">Select option</option>
      <option *ngFor="let option of anotherOptions" [ngValue]="option">{{option.name}}</option>
    </select>
  </div>
</div>
<div class="col-md-2">
  <button class="form-control btn btn-info button-one" (click)="addOption()">Add rule</button>
</div>
<div class="row" id="purpList">
  <ul class="list-group scroll-bar" id="listSelectedOptions">
    <li class="list-group-item col-md-3" *ngFor="let option of purposeList" >
      <input id={{option.name}} type="checkbox" [checked]="option.selected"
             (change)="option.selected = !option.selected">
      <label for={{option.name}}> {{option.name}} </label>
    </li>
  </ul>
</div>
