<div class="back col-md-9">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Your options</button>
      <clr-tab-content *clrIfActive>
        <h3>Contract options:</h3>
        <form #todoForm="ngForm">
          <div *ngIf="contract?.optionList && contract?.rate?.optionList">
            <option-list [optionList]="contract?.optionList"
                         [rateOptions]="contract?.rate?.optionList" [showSelect]="true"></option-list>
          </div>
          <button type="button" class="btn btn-outline" (click)="onSubmit(); todoForm.reset()"
                  [disabled]="todoForm.form.invalid || block">Change options
          </button>
        </form>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>All options</button>
      <clr-tab-content *clrIfActive>
        <div class="row">
          <div class="card col-md-6" *ngFor="let option of options">
            <div class="card-header">
              {{option?.name}}
            </div>
            <div class="card-block">
              <div class="card-media-block">
                <img src="{{option?.image}}" class="card-media-image">
                <div class="card-media-description">
                  <div class="row">
                    <p class="col-md-5">Cost: {{option?.cost}}
                      <clr-icon shape="dollar"></clr-icon>
                    </p>
                    <p class="col-md-7">Cost of connection: {{option?.costOfConnection}}
                      <clr-icon shape="dollar"></clr-icon>
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-text">
                {{option?.description}}
              </div>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>

<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">Delete options</h3>
  <div class="modal-body">
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">
                            Do you want to delete all options in the contract?
                        </span>
        </div>
      </div>
    </div>
    <h5>Delete options:</h5>
    <h6 *ngFor="let option of contract?.optionList">{{option?.name}}</h6>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirmDelete()">Ok
    </button>
  </div>
</clr-modal>
