<div class="back col-md-9">
  <div *ngIf="emptyBasket" class="alert alert-info">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
        </div>
        <span class="alert-text">Shopping cart is empty</span>
      </div>
    </div>
  </div>
  <div *ngIf="!emptyBasket && load">
    <h3>Contract options:</h3>
    <form #todoForm="ngForm">
      <div *ngIf="options && contract?.rate?.optionList">
        <option-list [optionList]="options"
                     [rateOptions]="contract?.rate?.optionList" [showSelect]="false"></option-list>
      </div>
      <button type="button" class="btn btn-outline" (click)="onSubmit(); todoForm.reset()"
              [disabled]="todoForm.form.invalid">Change options
      </button>
    </form>
  </div>
</div>
