<div class="back col-md-9">
  <div class="row add-contract-and-search">
    <input type="submit" class="btn btn-info button-one col-md-2"
           value="Add option" (click)="openTab('/employee/option-form')">
    <input type="submit" class="btn btn-info button-one col-md-2"
           value="Add rules" (click)="openTab('/employee/options-rules')">
    <!--<div class="input-group col-md-6 search-inp">-->
      <!--<input type="text" class="form-control" placeholder="Search...">-->
      <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button">Go!</button>-->
          <!--</span>-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
  </div>
  <!-- 1 панель -->
  <clr-stack-view>
    <clr-stack-header>All options</clr-stack-header>

    <clr-stack-block *ngFor="let option of options">
      <clr-stack-label>{{option?.name}}</clr-stack-label>
      <clr-stack-content><button class="btn btn-info button-one button-act col-md-2 button-number"
                                 (click)="change(option.id, '/employee/option-info')">
        Change
      </button></clr-stack-content>
    </clr-stack-block>
  </clr-stack-view>
</div>
