<div class="col-md-9">
    <div class="row add-contract-and-search">
      <input type="submit" class="btn btn-info button-one button-act col-md-2"
             value="Add user" [routerLink]="['/employee/customer-form']">
      <div class="input-group col-md-6 search-inp">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="contratNumber">

      </div>
    </div>
    <clr-stack-view>
      <clr-stack-header>All users</clr-stack-header>
      <clr-stack-block *ngFor="let customer of customers | customerContractNumberFiler: contratNumber">
        <clr-stack-label>{{customer?.firstName}} {{customer?.lastName}}</clr-stack-label>
        <clr-stack-content>
          <button class="btn btn-info button-one button-act col-md-2"
                  (click)="addContract(); addToSharedService(customer.id)">Add contract</button>
        </clr-stack-content>
        <clr-stack-block *ngFor="let contract of customer.contractList">
          <clr-stack-label>{{contract.number}}</clr-stack-label>
          <clr-stack-content>
            <button class="btn btn-info button-one button-act col-md-2 button-number"
                    (click)="changeContract(contract)">
              Change contract
            </button>
          </clr-stack-content>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
</div>

